@import (reference) '../lib/bracket.less';

.contract-detail {
	padding: rem(15);
}
.contract-detail-container {
	h3.level-3 {
		text-align: center;
		font-size: 18px;
		color: @cl_44;
		letter-spacing: 0;
		line-height: rem(22.5);
		margin-bottom: rem(15);
		font-weight: 400;
	}
	p.contract-detail-content {
		font-size: 15px;
		color: @cl_66;
		letter-spacing: 0;
	}
}